.title {
  background-color: rgb(216, 155, 240);
  text-align: center;
  width: 1000px;
  margin: 100px auto;
  padding: 0px;
  font-size: 50px;
  font-family: "Kranky", serif;
}

h1 {
    font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 60px;
  color: rgb(59, 5, 5);
  margin-top: 0;
}

h2 {
   font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 30px;
  color: rgb(59, 5, 5);
  margin-top: 0;
}

.child {
  border: 5px solid rgb(213, 162, 234);
  width: 100%;
  height: 75%;
  align-items: center;
  display: flex;
  margin: 100px auto;
}

.child-1 {
  flex: 1;
  height: 90%;
  text-align: center;
  background-color: rgb(251, 204, 255);
  border: 1px solid #d8e1ff;
  border-width: 10px;
  margin: 50px auto;
}

.child-2 {
  flex: 1;
  height: 90%;
  text-align: center;
  background-color: rgb(168, 177, 253);
  border: 1px solid #d8e1ff;
  border-width: 10px;
  margin: 50px auto;
}

.child-3 {
  flex: 1;
  height: 90%;
  text-align: center;
  background-color: rgb(177, 245, 217);
  border: 1px solid #d8e1ff;
  border-width: 10px;
  margin: 50px auto;
}

 .addCart {
    height: 90%;
  text-align: center;
  background-color: rgb(177, 245, 217);
  border: 1px solid #d8e1ff;
  border-width: 10px;
  margin: 50px auto;
 }

img {
  width: 350px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
  object-fit: cover; /* Controls how the image fits within the dimensions */
  border: 10px;
  border-radius: 20px;
  border-color: black;
}

.child-4 {
  flex: 1;
  height: 90%;
  text-align: center;
  background-color: rgb(243, 186, 186);
  border: 1px solid #d8e1ff;
  border-width: 10px;
  margin: 50px auto;
}

html,
body {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 font-family: "Sigmar", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 221, 249);
}

.parent {
  border-color: rgb(133, 102, 227);
  width: 100%;
  height: 75%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.parent-intro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.parent-spacing {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.parent-flexconstants .child-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.parent-flexconstants .child-2 {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.cart-total {
  border: 1px solid #f4beff;
  padding: 15px;
  margin-top: 20px;
  background-color: #f4d1ff;
}
.cart-total h1 {
  margin-bottom: 10px;
}

.cart-total p {
  margin-bottom: 5px;
  font-size: large;
}